In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Weight.csv')

In [3]:
df

,blank,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,RF,0.3,0.3,0.3,0.3,0.4,0.4,0.4,0.4,0.4,...,0.5,0.5,0.5,0.6,0.6,0.7,0.2,0.1,0.1,0.1
1,SVM,0.3,0.3,0.2,0.1,0.4,0.3,0.2,0.2,0.1,...,0.2,0.1,0.1,0.2,0.1,0.1,0.2,0.1,0.2,0.3
2,GBDT,0.3,0.2,0.3,0.3,0.1,0.2,0.3,0.2,0.4,...,0.2,0.3,0.2,0.1,0.2,0.1,0.2,0.1,0.1,0.2
3,XGB,0.1,0.2,0.2,0.3,0.1,0.1,0.1,0.2,0.1,...,0.1,0.1,0.2,0.1,0.1,0.1,0.4,0.7,0.6,0.4

In [4]:
df_new = pd.DataFrame()
df_new['blank'] = ['RF', 'SVM', 'GBDT', 'XGB']
df_new

  blank
0    RF
1   SVM
2  GBDT
3   XGB

In [5]:
count = 0
for i in range(1,6):
    for j in range(i+1,10-1):
        if (j-i>5):
            break
        for k in range(j+1,10):
            if (k-j)>5:
                break
            if (10-k)>5:
                continue
            #print("%s %s %s %s" % (i, j-i, k-j, 10-k))
            count+=1
            df_new[str(count)] = pd.Series([i/10.0, (j-i)/10.0, (k-j)/10.0, (10-k)/10.0])

In [6]:
df_new

,blank,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,RF,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.4,0.4,0.4,0.4,0.5,0.5,0.5,0.5,0.5,0.5
1,SVM,0.1,0.1,0.1,0.2,0.2,0.2,0.2,0.3,0.3,...,0.2,0.3,0.3,0.4,0.1,0.1,0.1,0.2,0.2,0.3
2,GBDT,0.3,0.4,0.5,0.2,0.3,0.4,0.5,0.1,0.2,...,0.3,0.1,0.2,0.1,0.1,0.2,0.3,0.1,0.2,0.1
3,XGB,0.5,0.4,0.3,0.5,0.4,0.3,0.2,0.5,0.4,...,0.1,0.2,0.1,0.1,0.3,0.2,0.1,0.2,0.1,0.1

In [ ]:
df_new

,blank,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,RF,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.4,0.4,0.4,0.4,0.5,0.5,0.5,0.5,0.5,0.5
1,SVM,0.1,0.1,0.1,0.2,0.2,0.2,0.2,0.3,0.3,...,0.2,0.3,0.3,0.4,0.1,0.1,0.1,0.2,0.2,0.3
2,GBDT,0.3,0.4,0.5,0.2,0.3,0.4,0.5,0.1,0.2,...,0.3,0.1,0.2,0.1,0.1,0.2,0.3,0.1,0.2,0.1
3,XGB,0.5,0.4,0.3,0.5,0.4,0.3,0.2,0.5,0.4,...,0.1,0.2,0.1,0.1,0.3,0.2,0.1,0.2,0.1,0.1

In [7]:
df_new

,blank,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,RF,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.4,0.4,0.4,0.4,0.5,0.5,0.5,0.5,0.5,0.5
1,SVM,0.1,0.1,0.1,0.2,0.2,0.2,0.2,0.3,0.3,...,0.2,0.3,0.3,0.4,0.1,0.1,0.1,0.2,0.2,0.3
2,GBDT,0.3,0.4,0.5,0.2,0.3,0.4,0.5,0.1,0.2,...,0.3,0.1,0.2,0.1,0.1,0.2,0.3,0.1,0.2,0.1
3,XGB,0.5,0.4,0.3,0.5,0.4,0.3,0.2,0.5,0.4,...,0.1,0.2,0.1,0.1,0.3,0.2,0.1,0.2,0.1,0.1

In [8]:
df_new.to_csv("Weight_new.csv", index=False)